.snippet-row {
  .title {
    margin-bottom: 2px;
    font-weight: $gl-font-weight-bold;
  }

  .snippet-filename {
    color: $gl-text-color-secondary;
    font-weight: normal;
  }

  .snippet-info {
    color: $gl-text-color-secondary;
  }

  a {
    color: $gl-text-color;
  }
}

.markdown-snippet-copy {
  position: fixed;
  top: -10px;
  left: -10px;
  max-height: 0;
  max-width: 0;
}

.snippet-file-content {
  border-radius: 3px;

  + .snippet-file-content {
    @include gl-mt-5;
  }
}

.snippet-header {
  padding: $gl-padding 0;
}

.snippet-title {
  color: $gl-text-color;
  font-size: 2em;
  font-weight: $gl-font-weight-bold;
  min-height: $header-height;
}

.snippet-actions {
  @include media-breakpoint-up(sm) {
    float: right;
  }
}

.snippet-scope-menu .btn-success {
  margin-top: 15px;
}

.embed-snippet {
  padding-right: 0;
  padding-top: $gl-padding;

  .embed-toggle-list li button {
    padding: 8px 40px;
  }
}
